.content {
  min-height: 55vh;
  margin-top: -32px;
  display: flex;
  padding: 15px;
}
.textContainer{
  margin: auto;
  margin-top: 26px;
  padding: 20px;
  width: 80%;
  font-size: 16px;
  height: max-content;
  border-radius: 2px;
  font-weight: 400;
  transition: 0.5s ease !important;
  -moz-transition: 0.5s ease !important;
  -webkit-transition: 0.5s ease !important;
  &:hover{
    transform: scale(1.05);
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
  }
}
@media (max-width: 599px){
  .content{
    padding: 0;
    margin:0;
    width: 100% !important;
    height: auto;
    padding-bottom: 50px;
    min-width: 256px;
  }
  .textContainer{
    max-width: 90% !important;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
  }
}